.columnForm{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 10px;
}

.changeInput{
  margin: 0;
}

.changeButton{
  margin: 0;
}

@media (max-width: 640px){
  .columnForm{
  flex-direction: column;
  }
}